<h1>Bikes</h1>

<p>
  <a href="/bike/new<%= %>">Add New Bike</a>
</p>
<hr/>
<p>
  <a href="/bike/available">Bikes Available</a>
</p>
<hr/>
<p>
  <a href="/bike/unavailable">Current Rentals</a>
</p>
<p>
  <a href="/bike/search">Search for Bike</a>
</p>

<hr/>
<% @bikes.each do |bike| %>
<p>Bike: <%=bike.name() %></p>
<p>Bike Size: <%=bike.size %></p>

<p><a href="/bike/<%= bike.id %>/edit">Edit Bike</a></p>
<form action="/bike/<%= bike.id%>/delete" method="POST">
  <input type="submit" value="Delete This Bike"/>

</form>
<hr/>
<% end %>
